/part_1/exercise_1_12/material-applications
/part_1/exercise_1_13/material-applications
/part_1/exercise_1_13/go1.16.linux-amd64.tar.gz
/part_3/exercise_3_3/.env
/part_3/exercise_3_5/go1.16.linux-amd64.tar.gz
/part_3/exercise_3_5/material-applications
/part_3/exercise_3_6/go1.16.linux-amd64.tar.gz
/part_3/exercise_3_6/material-applications
/part_3/exercise_3_7/material-applications
/part_3/exercise_3_8/material-applications
/part_3/exercise_3_9/material-applications